<div ng-controller="OrdersCtrl">
	<ol class="breadcrumb">
	  <li><a href="#">Home</a></li>
	  <li class="active">Orders</li>
	</ol>
	
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>User</th>
					<th class="text-right">Price</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="order in orders">
					<td class="vert-align">{{ $index + 1 }}.</td>
					<td class="vert-align">{{ order.title }}</td>
					<td class="vert-align">{{ order.user }}</td>
					<td class="cert-align text-right">
						{{ order.price | currency }}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>