<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Orders</li>
</ol>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>User</th>
			<th class="text-right">Price</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="vert-align">1.</td>
			<td class="vert-align">Lorem ipsum</td>
			<td class="vert-align">John Smith</td>
			<td class="cert-align text-right">
				$1250
			</td>
		</tr>
		<tr>
			<td class="vert-align">2.</td>
			<td class="vert-align">Lorem ipsum</td>
			<td class="vert-align">John Smith</td>
			<td class="cert-align text-right">
				$1250
			</td>
		</tr>
		<tr>
			<td class="vert-align">3.</td>
			<td class="vert-align">Lorem ipsum</td>
			<td class="vert-align">John Smith</td>
			<td class="cert-align text-right">
				$1250
			</td>
		</tr>
		<tr>
			<td class="vert-align">4.</td>
			<td class="vert-align">Lorem ipsum</td>
			<td class="vert-align">John Smith</td>
			<td class="cert-align text-right">
				$1250
			</td>
		</tr>
		<tr>
			<td class="vert-align">5.</td>
			<td class="vert-align">Lorem ipsum</td>
			<td class="vert-align">John Smith</td>
			<td class="cert-align text-right">
				$1250
			</td>
		</tr>
		<tr>
			<td class="vert-align">6.</td>
			<td class="vert-align">Lorem ipsum</td>
			<td class="vert-align">John Smith</td>
			<td class="cert-align text-right">
				$1250
			</td>
		</tr>
		<tr>
			<td class="vert-align">7.</td>
			<td class="vert-align">Lorem ipsum</td>
			<td class="vert-align">John Smith</td>
			<td class="cert-align text-right">
				$1250
			</td>
		</tr>
		<tr>
			<td class="vert-align">8.</td>
			<td class="vert-align">Lorem ipsum</td>
			<td class="vert-align">John Smith</td>
			<td class="cert-align text-right">
				$1250
			</td>
		</tr>
		<tr>
			<td class="vert-align">9.</td>
			<td class="vert-align">Lorem ipsum</td>
			<td class="vert-align">John Smith</td>
			<td class="cert-align text-right">
				$1250
			</td>
		</tr>
	</tbody>
</table>