<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Reports</li>
</ol>
<h2 class="sub-header">Reports</h2>
<h3 class="sub-header">Response from serwer: {{ greeting.content }}</h3>
<div class="table-responsive" ng-controller="ReportsCtrl">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Username</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td rowspan="2">1</td>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
			</tr>
			<tr>
				<td>Mark</td>
				<td>Otto</td>
				<td>@TwBootstrap</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Jacob</td>
				<td>Thornton</td>
				<td>@fat</td>
			</tr>
			<tr>
			<td>3</td>
				<td colspan="2">Larry the Bird</td>
				<td>@twitter</td>
			</tr>
		</tbody>
	</table>
	<div>
		{{ getHelloMessage() }}
		{{ displayExampleField() }}
		<list></list>
	</div>
</div>